<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Home</title>
    <style>
        .buttons {
            margin-top: 200px;
        }

        .btn {
            height: 100px;
            width: 200px;
            font-size: 28px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row buttons d-flex justify-content-around">
            <button class="btn btn-secondary" id="green">GREEN</button>
            <button class="btn btn-secondary" id="blue">BLUE</button>
            <button class="btn btn-secondary" id="pink">PINK</button>
        </div>
        <div class="row">
            <div id="number">

            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
        $(function () {
            var socket = io();
            $('#green').click(function (e) {
                e.preventDefault(); // prevents page reloading
                socket.emit('green');
                return false;
            });
            $('#blue').click(function (e) {
                e.preventDefault(); // prevents page reloading
                socket.emit('blue');
                return false;
            });
            $('#pink').click(function (e) {
                e.preventDefault(); // prevents page reloading
                socket.emit('pink');
                return false;
            });
            socket.on('color', function (data) {
                $("body").css("background-color", data.response);
            });
        });
    </script>
</body>

</html>