<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>EJS Cats</title>
</head>

<body>
    <div class="container">
        <div class="row mt-3 ml-5 mb-5">
            <h2>Select A Cat:</h2>
        </div>
        <div class="row mt-4">
            <a href="\Garfield">
                <img class="cat-img" src="/images/Garfield.jpg" alt="not found">
            </a>
            <a href="\Sylvester">
                <img class="cat-img" src="/images/Sylvester.jpg" alt="not found">
            </a>
            <a href="\Tom">
                <img class="cat-img" src="/images/Tom.jpg" alt="not found">
            </a>
            <a href="\Boots">
                <img class="cat-img" src="/images/boots.jpg" alt="not found">
            </a>
        </div>
    </div>
</body>

</html>